.hero-img {
    background: url("/assets/images/M-Zeeshan-Khan.png") no-repeat ;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    background-position-x: center  ;
    background-position-y: top;
    background-clip: border-box;
    object-fit: " fill cover"; 
    
  }