.about-img {
  background: url("/assets/images/me.jpeg") no-repeat ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.13);
     background-position-x: center  ;
     background-position-y: top;
    filter: blur(2px);
    background-clip: border-box;
   
  }